Base_station/car_detection/output_keypoints
Base_station/car_detection/carla_dataset
Base_station/car_detection/manual_dataset
Base_station/track_detection/carla_dataset_lines
Base_station/track_detection/carla_dataset_road
Base_station/models
Base_station/finetuned_models